* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s linear;
  list-style: none;
  text-decoration: none;
  text-transform: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  justify-content: center;
  background: darkblue;
}

.app {
  height: 100vh;
  width: 60vw;
  background: white;
}

.app .header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
}

.app .header .imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .header .imgBox h2 {
  margin-right: 1rem;
}

.app .header .imgBox h5 {
  margin-right: 1rem;
}

.app .header .imgBox img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.app .header .navbar {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
}

.app .header .navbar span {
  margin-right: 1rem;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.app .header .navbar span:hover {
  color: #999;
}

.app .allTweetsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app .allTweetsBox .tweetCardsUl {
  width: 90%;
  margin-top: 1rem;
}

.app .allTweetsBox .tweetCardsUl .tweetCardLi {
  width: 100%;
  background: #fff;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 5px 10px #666;
  margin-bottom: 1rem;
}

.app .allTweetsBox .tweetCardsUl .tweetCardLi .nameImgDate {
  display: flex;
  justify-content: start;
}

.app .allTweetsBox .tweetCardsUl .tweetCardLi .nameImgDate span {
  align-self: center;
}

.app .allTweetsBox .tweetCardsUl .tweetCardLi .nameImgDate span:nth-child(2) {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0 0.3rem;
}

.app .allTweetsBox .tweetCardsUl .tweetCardLi .nameImgDate span:nth-child(3) {
  font-size: 0.8rem;
  font-weight: bolder;
  color: #3336ff;
  margin: 0 0.3rem;
}

.app .allTweetsBox .tweetCardsUl .tweetCardLi .nameImgDate span:nth-child(4) {
  font-size: 0.4rem;
  font-weight: bolder;
}

.app .allTweetsBox .tweetCardsUl .tweetCardLi .nameImgDate img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.app .allTweetsBox .tweetCardsUl .tweetCardLi .textBox {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.1rem 3rem;
}

.app .allTweetsBox .editForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dddcdc;
  padding: 0.5rem 1.2rem;
}

.app .allTweetsBox .editForm input {
  flex: 1 1 90%;
  height: 2rem;
}

.app .allTweetsBox .editForm input:focus {
  outline: dotted 3px #666;
}

.app .allTweetsBox .editForm button {
  flex: 1 1 10%;
  height: 2rem;
  font-size: 1.1rem;
  font-weight: bolder;
  background: #3336ff;
  color: #fff;
  cursor: pointer;
}

.app .myTweetsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app .myTweetsBox .tweetCardsUl {
  width: 90%;
  margin-top: 1rem;
}

.app .myTweetsBox .tweetCardsUl .tweetCardLi {
  width: 100%;
  background: #fff;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 5px 10px #666;
  margin-bottom: 1rem;
}

.app .myTweetsBox .tweetCardsUl .tweetCardLi .nameImgDate {
  display: flex;
  justify-content: start;
}

.app .myTweetsBox .tweetCardsUl .tweetCardLi .nameImgDate span {
  align-self: center;
}

.app .myTweetsBox .tweetCardsUl .tweetCardLi .nameImgDate span:nth-child(2) {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0 0.3rem;
}

.app .myTweetsBox .tweetCardsUl .tweetCardLi .nameImgDate span:nth-child(3) {
  font-size: 0.8rem;
  font-weight: bolder;
  color: #3336ff;
  margin: 0 0.3rem;
}

.app .myTweetsBox .tweetCardsUl .tweetCardLi .nameImgDate span:nth-child(4) {
  font-size: 0.4rem;
  font-weight: bolder;
}

.app .myTweetsBox .tweetCardsUl .tweetCardLi .nameImgDate img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.app .myTweetsBox .tweetCardsUl .tweetCardLi .textBox {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.1rem 3rem;
}

.app .myTweetsBox .editForm input {
  flex: 1 1 90%;
  height: 2rem;
}

.app .myTweetsBox .editForm input:focus {
  outline: dotted 3px #666;
}

.app .myTweetsBox .editForm button {
  flex: 1 1 10%;
  height: 2rem;
  font-size: 1.1rem;
  font-weight: bolder;
  background: #3336ff;
  color: #fff;
  cursor: pointer;
}

.app .loginBox .loginHeaderBox {
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  align-items: center;
  background: #000;
  color: #fff;
}

.app .loginBox .loginHeaderBox h2 {
  margin-right: 1rem;
}

.app .loginBox .loginHeaderBox img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.app .loginBox .signInSignUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.app .loginBox .signInSignUpForm input {
  width: 80%;
  margin-top: 1rem;
  height: 2.2rem;
  font-size: 1.2rem;
}

.app .loginBox .signInSignUpForm .checkBox input {
  width: 5%;
  margin: 0;
  height: 1rem;
}

.app .loginBox .signInSignUpForm .checkBox {
  display: flex;
  flex: row;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.app .loginBox .signInSignUpForm button {
  width: 80%;
  background: #97c9f1;
  border: none;
  color: #fff;
  height: 2.5rem;
  font-size: larger;
  font-weight: bolder;
}

.app .loginBox .signInSignUpForm button:hover {
  background-color: darkblue;
}
